name = "store-backend"
main = "index.ts"
compatibility_date = "2024-11-15"
compatibility_flags = ["nodejs_compat"]

# Development/Local D1 Database
[[d1_databases]]
binding = "DB"
database_name = "store-db"
database_id = "bf6fdb44-d131-42da-a47b-57251e8a880f"

# Production environment configuration
[[env.production.d1_databases]]
binding = "DB"
database_name = "store-db-production"
database_id = "59ffd72a-f098-4976-9e41-f68700a6fc6f"